# Core Django & REST Framework
Django>=5.1.6
djangorestframework
djangorestframework-authtoken

# PostgreSQL Database Support
psycopg2-binary

# Environment Variable Management
python-dotenv

# CORS Headers (For API & Frontend Communication)
django-cors-headers

# Gunicorn (WSGI Server for Production)
gunicorn

# Debug Toolbar (for local debugging, remove for production)
django-debug-toolbar

# Regex & HTML Utilities Used in Serializers
beautifulsoup4