.spell-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.spell-card {
    display: grid;
    grid-template-columns: 50px 100px 2fr 1fr 1fr 1fr 50px;
    align-items: center;
    width: 100%;
    background-color: #1c1e1f;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #766d61;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.spell-card:hover {
    background-color: #3a085e;
}

.spell-card.expanded {
    background-color: #1c1e1f;
}

.spell-list-header {
    display: grid;
    grid-template-columns: 50px 100px 2fr 1fr 1fr 1fr 50px;
    align-items: center;
    width: 100%;
    font-weight: bold;
    border-bottom: 2px solid #b860f7;
    padding: 10px 0;
}

.spell-name-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 10px;
}

.spell-name {
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
}

.spell-name .tag {
    font-size: 0.8em;  
    font-weight: bold;
    color: white;  
    background-color: #b860f7; 
    margin-left: 5px;
    padding: 2px 4px; 
    border-radius: 4px;
    text-transform: uppercase; 
}

.spell-components {
    font-size: 0.8em;
    color: #a6a6a6;
}

.spell-description {
    display: none;
    grid-column: 1 / -1;
    padding: 10px;
    background-color: #292b2c;
    color: #ddd;
}

.spell-card.expanded .spell-description {
    display: block;
}

.spell-icon {
    width: 35px;
    height: 35px;
    background-color: #373b3d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

/* Search and Filter Container */
.search-filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin-bottom: 20px;
    gap: 10px;
}

/* Search Bar Container */
.search-bar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

#search-bar {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #766d61;
    background-color: #0f0f0f;
    color: #dddddd;
}

/* Reset Button */
.reset-filters {
    padding: 10px 15px;
    background-color: #3a085e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-filters:hover {
    background-color: #b860f7;
}

/* Filters Container */
.filters-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

/* Two Groups of Filters */
.filter-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Individual Filter Item */
.filter-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
}

.filter-item label {
    font-size: 0.9em;
    color: #dddddd;
    margin-bottom: 3px;
}

.filter-item select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #766d61;
    background-color: #0f0f0f;
    color: #dddddd;
    cursor: pointer;
}